body{
  text-align: center;
  background-color: #f3f4ed;
  font-family: sans-serif;
}

h5{
  color: #bbbbbb;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


img{
  border-radius: 50px;
  height: 250px;
  width: 350px;
}
.box1{
  background-color: white;
  text-align: center;
  border-radius: 50px;
  margin: 20px;
  height: 350px;
}

.box1:hover {
  transform: scale(1.03);
  box-shadow: 2px 3px #888888;
  background-color: #a5ecd7;
        }

.box2{
  background-color: white;
  text-align: center;
  border-radius: 50px;
  margin: 20px;
  height: 350px;
}

.box2:hover {
  transform: scale(1.03);
  box-shadow: 2px 3px #888888;
  background-color: #e8ffc1;
}

.box3{
  background-color: white;
  text-align: center;
  border-radius: 50px;
  margin: 20px;
  height: 350px;
}

.box3:hover {
  transform: scale(1.03);
  box-shadow: 2px 3px #888888;
  background-color: #51adcf;
}

button{
  border-radius: 10px;
  background-color: #839b97;
  padding: 5px;
}


.box4{
  background-color: white;
  text-align: center;
  border-radius: 50px;
  margin: 20px;
  height: 350px;
}

.box4:hover {
  transform: scale(1.03);
  box-shadow: 2px 3px #888888;
  background-color: #a5ecd7;
}

.box5{
background-color: white;
text-align: center;
border-radius: 50px;
margin: 20px;
height: 350px;
}

.box5:hover {
transform: scale(1.03);
box-shadow: 2px 3px #888888;
background-color: #e8ffc1;
}


.box6{
background-color: white;
text-align: center;
border-radius: 50px;
margin: 20px;
height: 350px;
}

.box6:hover {
transform: scale(1.03);
box-shadow: 2px 3px #888888;
background-color: #51adcf;
}
